* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 41, 108);
  --secondary-color: #2196f3;
  --thirdy-color: white;
  --darker-color: #00296c;
  --darkest-color: #000e24;
  --btn-color: #0073e6;
  --main-bg-color: white;
  --main-bg-color2: #f4f8ff;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-color);
  background-color: rgba(0, 16, 37, 1);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 160px;
  height: 5600px;
  position: relative;
}

/* MAIN CONTENT  */

.main {
  background-image: url("../img/Background\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
}

.main__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 64px;
  height: 234px;
}

.main__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 630px;
}

.firstpage__motivation {
  text-align: center;
  color: #ffffff;
  font-size: 64px;
}

.firstpage__button {
  border-radius: 16px;
  border: none;
  padding: 16px 64px;
  background-color: rgba(6, 167, 241, 1);
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.firstpage__text {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  width: 590px;
  line-height: normal;
}

@media (max-width: 480px) {
  .main__btns {
    flex-direction: column;
  }

  .main__col:last-child {
    margin-top: 50px;
  }
}

/* SECTION 2  ==================================================================================*/

.information {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information__row {
  display: flex;
  flex-wrap: wrap;
  line-height: 64px;
  height: auto;
}

.information .information__row {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  height: 234px;
}
.information__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.information__header {
  text-align: center;
  max-width: 800px;
}

.information__header p:last-child {
  font-size: 20px;
  font-weight: 400;
  /* text-align: center; */
  color: rgba(152, 152, 152, 1);
}

.secondpage {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 630px;
}

.secondpage__header {
  text-align: center;
  width: 800px;
}

.secondpage__header h5 {
  color: rgba(68, 197, 255, 1);
  font-size: 14px;
  font-weight: 300;
}

.secondpage__header--title {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.secondpage__header p:last-child {
  padding-top: 24px;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  color: rgba(152, 152, 152, 1);
}

.secondpage__main {
  display: flex;
  /* width: 100%; */
  /* flex-wrap: wrap; */
  gap: 32px;
}

.secondpage__main--box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  width: 400px;
  height: 290px;
  border-radius: 24px;
  background-color: rgba(0, 23, 45, 1);
}

.secondpage__main--box p {
  font-size: 20px;
  font-weight: 600;
  color: rgba(68, 197, 255, 1);
}

.secondpage__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 23, 45, 1);
}

.secondpage__footer h5 {
  color: rgba(68, 197, 255, 1);
  font-size: 14px;
  font-weight: 300;
}

.secondpage__footer p {
  padding-top: 24px;
  font-size: 20px;
  font-weight: 400;
  width: 800px;
  text-align: center;
  color: #ffffff;
}

/* SECTION 3  ==================================================================================  */
.advantages {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__content {
  display: flex;
  align-items: center;
  gap: 32px;
}

.thirdpage__left {
  max-width: 600px;
}

.thirdpage__left h5 {
  font-size: 14px;
  font-weight: 300;
}

.thirdpage__left p {
  padding-top: 4px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.thirdpage__left p:last-child {
  padding-top: 24px;

  font-size: 20px;
  font-weight: 400;
  color: rgba(152, 152, 152, 1);
}

.thirdpage__right {
}

.thirdpage__right--item {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  border-radius: 9999px;
  background-color: rgba(0, 23, 45, 1);
  margin-top: 24px;
}

.thirdpage__right--item:first-child {
  margin-top: 0;
}

.thirdpage__right--img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(2, 33, 58, 1);
  width: 64px !important;
  height: 64px;
}

.thirdpage__right--text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thirdpage__right--text h3 {
  color: rgba(68, 197, 255, 1);
}

.thirdpage__right--text p {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.thirdpage__bottom {
  margin-top: 160px;
  padding: 48px;
  border-radius: 24px;
  background-color: rgba(0, 23, 45, 1);
  display: flex;
  gap: 32px;
}

.thirdpage__bottom--img {
  width: 305px;
  height: 305px;
}

.thirdpage__bottom--text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.thirdpage__bottom--text h3 {
  font-size: 14px;
  font-weight: 300;
  color: rgba(68, 197, 255, 1);
}
.thirdpage__bottom--text p {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  color: #ffffff;
}
.thirdpage__bottom--text p:last-child {
  font-size: 20px;
  font-weight: 400;
  color: rgba(152, 152, 152, 1);
}

/* SYSTEM================================================================ */
.system {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourthpage__header {
  text-align: center;
}

.header {
  font-size: 14px;
  font-weight: 300;
  color: rgba(68, 197, 255, 1);
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff !important ;
}

.fourthpage {
  /* width: 900px; */
}

.fourthpage__main {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  border-radius: 24px;
  width: 100%;
  gap: 26px;
}

.fourthpage__main--row {
  display: flex;
  align-items: center;
  gap: 26px;
}

.fourthpage__main--item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 23, 45, 1);
  border-radius: 24px;
  align-items: center;
  padding-left: 40px;
  min-width: 890px;
}

.fourthpage__main--left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.fourthpage__main--right {
}

.fourthpage__main--right img {
  display: flex;
  bottom: 0px;
  padding-top: 9px;
  padding-right: 24px;
}

/* MEMBERSHIP=============================================================================== */

.membership {
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.membership__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  width: 400px;
  height: auto;
  border-radius: 24px;
  background-color: rgba(0, 23, 45, 1);
  padding: 32px;
  /* width: 100%; */
}

.membership__header p {
  font-size: 32px;
  color: rgba(68, 197, 255, 1);
  font-weight: 600;
}

.membership__header h4 {
  color: rgba(152, 152, 152, 1);
  vertical-align: text-bottom;
}

.membership__header--header {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.membership__header--item {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.membership__header--item div:last-child {
  font-weight: 400;
  color: #ffffff;
}

.membership__header--footer {
  font-size: 20px;
  font-weight: 700;
  color: rgba(152, 152, 152, 1);
}

.membership__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  width: auto !important;
  text-align: center;
  background-color: rgba(0, 23, 45, 1);
}

.membership__button {
  margin-top: 16px;
  border-radius: 12px;
}
